@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .marquee-track {
    animation: scroll-left 25s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .marquee-wrapper:hover .marquee-track {
    animation-play-state: paused;
  }
}

@theme{
  --color-gold: '#FFD700',
}